# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
